
<img src="{{game.image_thumbnail}}" alt="${getGamebyId.image_thumbnail}">

<h4 class="product-name">{{game.name}}</h4>

<p class="product-description-1">{{game.description_1}}</p>

<p class="product-description-2">{{game.description_2}}</p>
